body {
  position: relative;
}

.area-fixed {
  background-color: #ccc;
  min-height: 150px;
  overflow: hidden;
  font-size: 3rem;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky--wrapper {
  height: calc(100% - 55px);
}
.sticky--wrapper .sticky--nav {
  position: sticky;
  top: 55px;
}
.sticky--wrapper .sticky--nav .list-group-item {
  width: 50%;
  float: left;
  border: none;
}
.sticky--wrapper .sticky--nav .list-group-item .thumbnail img {
  width: 100%;
}
.sticky--wrapper .sticky--nav .clearfix {
  clear: left;
}

.area-drag {
  margin: 4rem 0;
  border: 2px dashed #000;
  min-height: 150px;
  overflow: hidden;
  position: relative;
}
.area-drag .area-drop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  width: 100%;
  font-size: 3rem;
}
.area-drag .area-drop i {
  margin-right: 10px;
}
.area-drag .area-drop.hide {
  display: none;
}

.list-group-item {
  border: none;
  border-bottom: 2px dashed #000;
}
.list-group-item .thumbnail {
  display: block;
}
.list-group-item .thumbnail.hide {
  display: none;
}
.list-group-item .main-func {
  display: none;
}
.list-group-item .main-func.show {
  display: block;
}
.list-group-item:last-child {
  border-bottom: none;
}

.tab-content {
  padding-top: 2rem;
}
