{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "EnableSqlDebugLog": false,
  "DBConnection": {
    "Server": ".",
    "Username": "sa",
    "Password": "sasa",
    "Database": "asset_plus_uat"
  },
  "AppKey": "919DC5B69CA821E1190E86B1EDECBB65",
  "RootURL": "https://localhost:7300",
  "FrontURL": "https://localhost:7310",
  "API": {
    "URL": "https://localhost:7144/api",
    "Username": "admin",
    "Password": ""
  },
  "MailSettings": {
    "FromMail": "ballsiame2566@gmail.com",
    "DisplayName": "เว็บไซต์ Asset Plus",
    "Host": "smtp.gmail.com",
    "UserName": "ballsiame2566@gmail.com",
    "Password": "",
    "Port": 587,
    "UseSSL": false
  },
  "GoogleReCaptcha": {
    "SkipOnLocalhost": true,
    "SiteKey": "6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI",
    "SecretKey": "6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe",
    "VerifyUrl": "https://www.google.com/recaptcha/api/siteverify"
  },
  "ConfigPassword": {
    "LoginFailCount": 5,
    "ExpiresInDay": "600",
    "AlertInDay": "7",
    "LastPassword": "3"
  },
  "LINEAPI": {
    "token_api_username": "LINEOA",
    "token_api_password": "",
    "token_life_mins": "30"
  },
  "AssetPlusWS": {
    "URL": "http://167.179.243.42:53556/ws/ASPWS.asmx",
    "TimeoutSeconds": 60
  },
  "WsSchedule": {
    "XmlPath": "",
    "Key": ""
  },
  "LegacyUpload": {
    "Path": "",
    "Url": ""
  },
  "LegacyUploadDoc": {
    "Path": "",
    "Url": ""
  },
  "MySQLConnection": {
    "Server": "localhost",
    "UserID": "root",
    "Password": "",
    "Database": "sam_npa"
  }
}
